<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Curso - Aprendizaje en Robótica">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://argenisosorio.github.io/aprendizaje_en_robotica_ruta_1/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Curso - Aprendizaje en Robótica">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://opengraph.b-cdn.net/production/images/d8a448a1-3b64-4ed3-befe-36ba9a12abc8.png?token=zsPBgKxpm5n7vKL5Dqq7X_RgMgSc1EBkiBnB946xIS8&height=800&width=800&expires=33276060856">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="argenisosorio.github.io">
    <meta property="twitter:url" content="https://argenisosorio.github.io/aprendizaje_en_robotica_ruta_1/">
    <meta name="twitter:title" content="Curso - Aprendizaje en Robótica">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/d8a448a1-3b64-4ed3-befe-36ba9a12abc8.png?token=zsPBgKxpm5n7vKL5Dqq7X_RgMgSc1EBkiBnB946xIS8&height=800&width=800&expires=33276060856">
    <link rel="icon" href="static/img/favicon.png">
    <title>Curso - Aprendizaje en Robótica</title>
  </head>
<body>
  <div class="container-fluid">
    <h1>Este sitio no está habilitado en este momento</h1>
  </div>
</body>
</html>
